body {
    margin: 0;
    max-height: 678px;
    max-width: 1253px;
    background: #1C1C1C;

}

/* TOOLS */
.devborder {
    border: 2px dashed blue;
}

#container {
    height: 550px;
    width: 550px;
    margin: 64;
    padding-left: 52px;
    background: #1F2937;
}

h1 {
    height: 80px;
    width: 354px;
    }
.header-part1 {
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
}
.header-part2 {
    font-family: 'Inter', sans-serif;;
    color: #4ADF86;
}

p {
    height: 80px;
    width: 354px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
    margin: 0;
}

button {
    gap: 12px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #10B981;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    gap: 12px;
}

#section-divider {
    height: 1px;
    width: 446px;
    background: #10B981;

}


#password-container {
    display: flex;
    margin-top: 79px;
}

.password {
    height: 39px;
    width: 211px;
    border-radius: 6px;
    background: #273549;
    color: #55F991;
}